html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid {
  height: 100%;
  position: relative;
}

input {
  font-size: 12px;
}

.header nav{
  height: 3em;
}

.navbar-toggler{
  margin-left: 0.5em;
}

ul{
  list-style: none;
  padding: 0px;
}

/* Map Area */

#hide-listings, #show-listings {
  width: 48%;
}

hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
  z-index: -1;
}

#map {
  bottom: 0px;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0px;
}

#pano {
  width: 200px;
  height: 200px;
}

/* Left Panel Area */

.side-panel {
  background: #fff;
  border-radius: 3px;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  max-width: 300px;
  margin-top: 1em;
}

.seartch{
  width: 100%;
}
.search-box {
  width: 80%;
}
