html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #dedede;
}

@-webkit-keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

.container-fluid {
  height: 100%;
  padding-left: 0 !important;
  animation-name: show;
  animation-duration: 7s;
}

.navbar-toggler {
  margin-left: 0.5em;
}

nav {
  float: right !important;
  transform: translate(320px, 0);
  transition: transform .5s ease;
}

ul {
  list-style: none;
  padding: 0px;
}

/* Map Area */

hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}

#map {
  bottom: 0px;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0px;
  transform: translate(320px, 0);
  transition: transform .5s ease;
}

/* Left Panel Area */

.side-panel {
  background: #333;
  color: #efefef;
  height: 100%;
  line-height: 35px;
  text-align: left;
  min-width: 320px;
  max-width: 330px;
  padding: 1em;
  position: absolute;
  transform: translate(-330px, 0);
  transition: transform .5s ease;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

.navbar-brand{
  display: inline-flex !important;
}

.search{
  display: inline-flex;
  color: #efefef;
  font-size: 1.1em;
  padding-left: 1em;
  padding-right: 0 !important;
  border: solid;
  border-width: thin;
  border-radius: .3em;
  margin-right: 0;
  margin-left: 1em;
  width:300%;
}

.search label {
  padding: 0.3em 1em 0 0;
}

.search-box {
  border-top-right-radius: .3em;
  border-bottom-right-radius: .3em;
  font-size: 1em;
  width: 100%;
  padding-left: .5em;

}

.place-name:hover {
  cursor: pointer;
  color: lightblue;
}

.favorite{
  padding-left: .1em;
  display: none;
}

.favorite img {
  width: 20px;
  height: 20px;
}

.favorite img:hover {
  cursor: pointer;
}

.remove-favorite{
  display: none;
}

.remove-favorite img {
  width: 20px;
  height: 20px;
}

.remove-favorite img:hover {
  cursor: pointer;
}

@media screen and (max-width: 500px){
  .side-panel {
    line-height: 25px;
    padding: .5em;
  }

  .search label {
    display: none;
  }
}
