html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid {
  height: 100%;
  padding-left: 0 !important;
}

input {
  font-size: 12px;
}

.navbar-toggler{
  margin-left: 0.5em;
}

nav{
  float: right !important;
  transform: translate(320px, 0);
  transition: transform .5s ease;
}

ul{
  list-style: none;
  padding: 0px;
}

/* Map Area */

#hide-listings, #show-listings {
  width: 48%;
}

hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}

#map {
  bottom: 0px;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0px;
  transform: translate(320px, 0);
  transition: transform .5s ease;
}

#pano {
  width: 200px;
  height: 200px;
}

/* Left Panel Area */

.side-panel {
  background: #333;
  color: #efefef;
  height: 100%;
  line-height: 35px;
  text-align: left;
  min-width: 320px;
  max-width: 330px;
  padding: 1em;
  position: absolute;
  transform: translate(-330px, 0);
  transition: transform .5s ease;
}

.search-box {
  width: 75%;
}
